In [2]:
import pandas as pd
import os
import numpy

In [3]:
df = pd.read_csv("country_edited.csv")

In [4]:
df

,donor,recipient,coalesced_purpose_name,commitment_amount_usd_constant
0,Canada,Brazil,Industrial development,29748658
1,Canada,Brazil,Power generation/non-renewable sources,6054352
2,Canada,Brazil,Rail transport,17693
3,Canada,Chile,Industrial development,18676468
4,Canada,Colombia,Industrial development,23245209
...,...,...,...,...
319,United States,Thailand,Industrial development,1460262364
320,United States,Thailand,Power generation/non-renewable sources,619621837
321,United States,Thailand,Rail transport,18742
322,United States,United Arab Emirates,Air transport,522553
323,United States,United Kingdom,Air transport,957343964

In [5]:
df = df.groupby(['donor', 'recipient','coalesced_purpose_name']).sum().reset_index()

In [6]:
df

,donor,recipient,coalesced_purpose_name,commitment_amount_usd_constant
0,Canada,Brazil,Industrial development,29748658
1,Canada,Brazil,Power generation/non-renewable sources,6054352
2,Canada,Brazil,Rail transport,17693
3,Canada,Chile,Industrial development,18676468
4,Canada,Colombia,Industrial development,23245209
...,...,...,...,...
319,United States,Thailand,Industrial development,1460262364
320,United States,Thailand,Power generation/non-renewable sources,619621837
321,United States,Thailand,Rail transport,18742
322,United States,United Arab Emirates,Air transport,522553
323,United States,United Kingdom,Air transport,957343964

In [11]:
canada_id = df.loc[(df['donor'] == "Canada") & (df['coalesced_purpose_name'] == 'Industrial development')]

In [16]:
canada_id

,donor,recipient,coalesced_purpose_name,commitment_amount_usd_constant
0,Canada,Brazil,Industrial development,29748658
3,Canada,Chile,Industrial development,18676468
4,Canada,Colombia,Industrial development,23245209
7,Canada,Czech Republic,Industrial development,874777
9,Canada,Estonia,Industrial development,33293
10,Canada,Hungary,Industrial development,709294
13,Canada,India,Industrial development,54685827
19,Canada,Poland,Industrial development,3662485
22,Canada,Romania,Industrial development,685484
25,Canada,Slovak Republic,Industrial development,1322773
28,Canada,Slovenia,Industrial development,49950
29,Canada,South Africa,Industrial development,26700909
31,Canada,Thailand,Industrial development,70008809

In [ ]:
230403936

In [17]:
us_id = df.loc[(df['donor'] == "United States") & (df['coalesced_purpose_name'] == 'Industrial development')]

In [20]:
us_id

,donor,recipient,coalesced_purpose_name,commitment_amount_usd_constant
231,United States,Australia,Industrial development,8970500
236,United States,Brazil,Industrial development,1785108528
240,United States,Canada,Industrial development,1961661
242,United States,Chile,Industrial development,675643062
246,United States,Colombia,Industrial development,789030171
250,United States,Czech Republic,Industrial development,74391574
254,United States,Estonia,Industrial development,37708473
258,United States,Greece,Industrial development,7939384
262,United States,Hungary,Industrial development,597708744
267,United States,India,Industrial development,1295117393
273,United States,Ireland,Industrial development,52303341
278,United States,Korea,Industrial development,866792664
281,United States,Kuwait,Industrial development,278059881
283,United States,Latvia,Industrial development,28634509
285,United States,Lithuania,Industrial development,36849047
289,United States,New Zealand,Industrial development,203451199
292,United States,Poland,Industrial development,548534715
296,United States,Portugal,Industrial development,270172
297,United States,Qatar,Industrial development,80976522
301,United States,Romania,Industrial development,169640623
305,United States,Saudi Arabia,Industrial development,254167658
309,United States,South Africa,Industrial development,9681699
313,United States,Spain,Industrial development,7062587
315,United States,Sweden,Industrial development,35282669
317,United States,Taiwan,Industrial development,616602612
319,United States,Thailand,Industrial development,1460262364

In [ ]:
9922151752

In [26]:
df1 = df.groupby(['donor','coalesced_purpose_name']).sum().reset_index()

In [27]:
df1.to_csv("donor_purpose.csv", encoding='utf-8', index=False)

PermissionError: [Errno 13] Permission denied: 'donor_purpose.csv'

In [23]:
df2 = df.groupby(['recipient','coalesced_purpose_name']).sum().reset_index()

In [25]:
df2.to_csv("recipient_purpose.csv", encoding='utf-8', index=False)